<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>


<div>
    <label for="tour_number">Tour number</label>
    <input type="text" id="tour_number" style="width: 40px;"/>
</div>
<div>
    <label for="home_team">Home Team</label>
    <select id="home_team" style="width: 80px"></select>
    <label for="away_team">Away Team</label>
    <select id="away_team" style="width: 80px"></select>
</div>
<div>
    <label for="game_date">Date</label>
    <input type="date" id="game_date" style="width: 150px;"/>
</div>
<input type="button" id="create_game" value="Create game"
       onclick="helpers.createGame($('#home_team'), $('#away_team'), $('#tour_number'), $('#game_date'))"/>

<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: "/v1/team",
            success: function(data) {
                helpers.buildDropdown(
                    data,
                    $('#home_team'),
                    'Select an option'
                );
                helpers.buildDropdown(
                    data,
                    $('#away_team'),
                    'Select an option'
            );
            }
        });
    });
    var helpers =
        {
            createGame: function(homeTeam, awayTeam, tourNumber, date) {
                var homeTeamId = homeTeam.find(":selected").val();
                var awayTeamId = awayTeam.find(":selected").val();
                var tour = tourNumber.val();
                var gameDate = date.val();
                var gameDto = {
                    "homeTeamId": homeTeamId,
                    "awayTeamId": awayTeamId,
                    "date": gameDate,
                    "tour": tour
                };
                $.ajax({
                    type: "POST",
                    url: "v1/game",
                    contentType: 'application/json',
                    data: JSON.stringify(gameDto),
                    success: {},
                    failure: {}
                });
            },

            buildDropdown: function(result, dropdown, emptyMessage)
            {
                // Remove current options
                dropdown.html('');
                // Add the empty option with the empty message
                dropdown.append('<option value="">' + emptyMessage + '</option>');
                if(result !== '')
                {
                    // Loop through each of the results and append the option to the dropdown
                    $.each(result, function(k, v) {
                        dropdown.append('<option value="' + v.id + '">' + v.name + '</option>');
                    });
                }
            }
        };
    </script>
</body>
</html>