<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Application</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link type="text/css" href="index/index.css" rel="stylesheet">
</head>
<body style="margin-top: 0">
    <!--<label for="tourNumber">Tour number</label>-->
    <!--<input type="text" id="tourNumber"/>-->
    <!--<label for="tourNumber">Выберите тур</label>-->

    <div class="row" style="text-align: right; background-color: lightgrey; margin-bottom: 5px;">
        <div class="row-custom-css" style="margin-right: 10px">
            <p><b><span id="username"></span></b></p>
        </div>
        <div class="row-custom-css">
            <input type="button" class="button-custom-css" id="logout" value="Выйти" onclick="location.href='/logout'" style="width: 100px"/>
        </div>
    </div>
    <div class="row" style="clear: both">
        <div class="row-custom-css">
            <select class="select-custom-css" id="tournamentId" style="width: 200px; margin-bottom: 5px;"></select>
        </div>
        <div class="row-custom-css">
            <select class="select-custom-css" id="tourNumber" onchange="fillGamesTable()" style="width: 200px; margin-bottom: 5px;"></select>
        </div>
    </div>
    <div>
        <table style="margin-bottom: 10px;">
            <tr style="vertical-align: top;">
                <td>
                    <div>
                        <table id="games_table" border="1">
                            <tr id="games_table_header">
                                <td style="display:none"></td>
                                <td>Дата</td>
                                <td style="display:none"></td>
                                <td>Дома</td>
                                <td style="display:none"></td>
                                <td>В гостях</td>
                                <td>Дома ставка</td>
                                <td>В гостях ставка</td>
                                <td>Дома счет</td>
                                <td>В гостях счет</td>
                                <td>Очки</td>
                                <td>Статус</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="row-custom-css">
            <input type="button" class="button-custom-css" id="saveGames" value="Сохранить ставки" onclick="saveBets()" style="width: 200px"/>
        </div>
        <div class="row-custom-css">
            <input type="button" class="button-custom-css" id="computePoints" value="Посчитать очки" onclick="computePoints()" style="width: 200px"/>
        </div>
    </div>
<script type="text/javascript" src="index/index.js"></script>
</body>
</html>