<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Application</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link type="text/css" href="index/index.css" rel="stylesheet">
</head>
<body>
    <label for="tourNumber">Tour number</label>
    <input type="text" id="tourNumber"/>
    <input type="button" id="fillTable" value="Bring the games" onclick="fillGamesTable()"/>
<div>
    <table>
        <tr style="vertical-align: top;">
            <td>
                <div>
                    <table id="games_table" border="1">
                        <tr id="games_table_header">
                            <td style="display:none"></td>
                            <td>Date</td>
                            <td style="display:none"></td>
                            <td>Home team</td>
                            <td style="display:none"></td>
                            <td>Away team</td>
                            <td>Home team bet</td>
                            <td>Away team bet</td>
                            <td>Home team score</td>
                            <td>Away team score</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<div>
    <input type="button" id="saveGames" value="Save games" onclick="saveBets()"/>
</div>

<script type="text/javascript" src="index/index.js"></script>
</body>
</html>