<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Sign-up</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link type="text/css" href="registration/registration.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="main">
        <form class="form" method="post" action="#">
            <h2>Регистрация нового пользователя</h2>
            <label>Имя пользователя :</label>
            <input type="text" name="dname" id="name">
            <label>Пароль :</label>
            <input type="password" name="password" id="password">
            <label>Подтвердите пароль :</label>
            <input type="password" name="cpassword" id="cpassword">
            <input type="button" name="register" id="register" value="Зарегистрироваться">
        </form>
    </div>
</div>

<script type="text/javascript" src="registration/registration.js"></script>
</body>
</html>