<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Application</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link type="text/css" href="index/index.css" rel="stylesheet">
</head>
<body>
    <label for="simpleText">Testik</label>
    <input type="text" id="simpleText"/>
    <input type="button" id="fillTable" value="Bring the games"/>
    <input type="button" onclick="location.href='/index';" value="Go to MainPage" />
<!--<script type="text/javascript" src="index/index.js"></script>-->
</body>
</html>